{% extends 'shop/basic.html' %}
{% block title %} Contact Us {% endblock %}
{% block body %}

<div class="container">
<form action="/shop/contact" method="post">
    {% csrf_token %}
    <h3>Contact Us</h3>
    <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" placeholder="Enter your name" name="name" id="name" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address<label style="color:red">*</label></label>
    <input required="required" type="email" placeholder="Enter your e-mail id" name="email" id="email" class="form-control" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone Number</label>
    <input type="tel" placeholder="Enter your phone number" name="phone" id="phone" class="form-control" >
  </div>
    <div class="form-floating">
        <label for="desc">How can we help you!?<label style="color:red">*</label></label>
  <textarea required="required" class="form-control" style="height:160px" placeholder="Leave a comment here" name="desc" id="desc"></textarea>

</div>

  <button type="submit" class="btn btn-success mt-2">Submit</button>
</form>
    </div>
{% endblock %}

{% block js %}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
var sum = 0;
for(item in cart){

    let name = cart[item][1];
    let qty = cart[item][0];
    sum = sum + qty;
}
document.getElementById('cart').innerHTML = sum;

{% if sent %}
alert('Thank you for your feedback');
{% endif %}
</script>
{% endblock %}
